body {
    border: 5px solid rgb(65, 188, 197);
    background-color:rgb(248, 248, 248);
    color: rgb(250, 245, 245);
    padding: 5% 5%;
    margin: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhttSTfU236jNZx1ti9q7Av29kuidX-FcHRg&usqp=CAU);
    background-position: 10px 10px;
}


h2{
    background-color: rgb(248, 248, 248);
    width: auto;
    color: black;
    font-size:30px;
    font-style: italic;
    font-weight: 500;
    
}

li{
    background-color: white;
    color: black;
    white-space: pre-line;
    width: auto;


}

ul{
    background-color: white;
    color: black;
    white-space: pre-line;
    width: auto;

}

p{
    background-color: white;
    color: black;
    white-space: pre-line;
    width: auto;
}

address{
    background-color: white;
    color: black;
    white-space: pre-line;
    width: auto;
}

.principal{
    background-color: white;
    color: black;
    font-size:42px;
    font-style: italic bold;
    font-weight: 900;
    width: auto;
}